---
import Layout from "@/layouts/Layout.astro";
import { Header } from "@/components/layout/Header";
import { Hero } from "@/routes/laboratory-vr/sections/Hero";
import { AboutLaboratory } from "@/routes/laboratory-vr/sections/AboutLaboratory";
import { Leadership } from "@/routes/laboratory-vr/sections/Leadership";
import { Gallery } from "@/routes/laboratory-vr/sections/Gallery";
import { Footer } from "@/components/layout/Footer";
---

<Layout
  title="Лабораторія інноваційних систем моделювання, симуляції та цифрової візуалізації | НаУОА"
  description="Науково-дослідна лабораторія інноваційних систем моделювання, симуляції та цифрової візуалізації — простір для створення інноваційних рішень у сфері VR/AR, 3D-моделювання та цифрової симуляції."
>
  <div class="overflow-hidden w-full min-h-screen flex justify-center bg-layout-bg">
    <div class="flex w-full relative flex-col items-start min-h-screen">
      <Header client:load headerPosition="absolute" />
      <main id="main-content" class="w-full">
        <Hero />
        <AboutLaboratory />
        <Leadership />
        <Gallery client:visible />
        <Footer />
      </main>
    </div>
  </div>
</Layout>
